.BaseLogo {
  width: 110%;
  // border: 1px solid red;
}
.FaShoppingCart {
  // border: 1px solid green;
  margin-left: -10px;
  size: 100%;
  width: 50px;
  height: 50px;
}
.FaUser {
  // border: 1px solid red;
  width: 46px;
  height: 46px;
  size: 100%;
  margin-left: 5px;
  margin-top: 4px;
}
.user {
  //border: 1px solid green;
  // padding-top: 15px;
}
.test {
  //    border: 1px solid green;
  width: 100%;
  text-align: center;
}
.cart {
  margin-left: 2px;
}
.BadgeCart {
  position: absolute;
  right: 5px;
  top: 0;
}
.search_bar {
  width: 100%;
  height: 50px;
  margin-top: 15px;
}
.SearchButton {
  border-radius: 0 !important;
}
.search {
  height: 50px !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}
.search:focus {
  border: 0;
}

.navlink{
    // border: 1px solid red;
    height: 80px;
    // width: 120px;
    // padding-left: 380px;
}
.navbar_top{
  background: linear-gradient(90deg,#353535 0,#515151 20%,#515151 46%,#353535);
}


