.Ban_1, .Ban_2{
    //border: 1px solid black;
    max-width: 100%!important;
    //height: 400px;
}
.Carousel{
    //border: 1px solid green;
    max-width: 100%!important;
    margin-top: -60px;
    margin-bottom: 20px;
    z-index: 0;
}
.ContainerPromo{
    //border: 2px solid black;
    width: 100%!important;
}