@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

$primary: #d36500;
$dark: black;
$secondary: #161616;
$font-family-sans-serif: "Roboto";

body {
  background-image: url("../assets/bg.jpg");
  background-size: cover;
}