@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Roboto+Condensed&display=swap');

$primary: #d36500;
$dark: black;
$secondary: #161616;
$font-family-sans-serif: "Roboto", sans-serif;

body {
  background: url("../assets/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.og-page-title {
  border-left: 3px solid $primary;
  padding-left: 0.3em;
  font-family: "Roboto Condensed", "Arial Narrow", sans-serif;
}