@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

$primary: #d36500;
$dark: black;
$secondary: #161616;
$font-family-sans-serif: "Roboto", sans-serif;

body {
  // background-image: url("../assets/bg.jpg");
  background-color: #d4d4d4!important;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}